.idea/
html/
images/
latex/
logs/
scripts/
cv-workbench
image-copy
image-corr
image-create
image-dump
image-info
image-map
image-mean
image-morph
image-read
image-trig
gen_polar_trig_static
*.bak
*.o
.*.swp
*.log
