.idea/
html/
images/
latex/
lib/
logs/
scripts/
x64/
cv-workbench
cv-workbench.exe
image-copy
image-corr
image-create
image-dump
image-info
image-map
image-mean
image-morph
image-read
image-trig
*.bak
*.o
.*.swp
*.log
